.prayer-card{
background: #F6F6F6;
width: fit-content;
padding: 20px 30px 15px 30px;
border-radius: 10px;
box-shadow: 0px 0px 4px #000;
text-align: center;
}
.prayer-card h4{
  font-family: "Cairo";
  font-weight: 600;
}
.prayer-card p{
  font-family: "Cairo";
  font-weight: 300;
}